{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- styles block-->
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
<!-- end of styles -->

    {% block content %}
    <div class="jumbotron-fluid">
     <div class="in" style="background-color: #e4ae1b;font-size: 35px; text-align:center;">
  <p>THE SOURCES</p>
    <ol class=tabs>
            <div>
                <li><a href="#general">GENERAL</a></li>
                </div>
            <li><a  href="#sports">SPORTS</a></li>
            <li><a  href="#technology">TECHNOLOGY</a></li>
            <li><a  href="#entertainment">ENTERTAINMENT</a></li>
            <li><a  href="#health">HEALTH</a></li>
            <li><a  href="#science">SCIENCE</a></li>
            <li><a  href="#political">POLITICAL</a></li>
            <li><a  href="#business">BUSINESS</a></li>
        </ol>
          <div class="tab-content">
             <div class="inn" style="background-color:#84a3cc ; font-size: 18px;text-align:center;">

            <div id="general">

                <!--general news section-->
                {{macro.displayNewsList(general)}}
            </div>
            <div id="sports" class="tab-pane fade">
                <!-- Sports news sources-->
                {{ macro.displayNewsList(sports) }}
            </div>
            <div id="technology" class="tab-pane fade">
                <!-- Technology news sources -->
                {{ macro.displayNewsList(technology) }}
            </div>
            <div id="entertainment" class="tab-pane fade">
                <!-- Entertainment news sources -->
                {{ macro.displayNewsList(entertainment) }}
            </div>
            <div id="health" class="tab-pane fade">
                <!-- Health news sources -->
                {{ macro.displayNewsList(health) }}
            </div>
            <div id="business" class="tab-pane fade">
                <!-- Business news sources -->
                {{macro.displayNewsList(business)}}
            </div>
            <div id="political" class="tab-pane fade">
                <!-- political news sources -->
                {{ macro.displayNewsList(political) }}
            </div>
            <div id="science" class="tab-pane fade">
                <!--Science news sources-->
                {{macro.displayNewsList(science)}}
            </div>
          </div>
        </style>
    </div>
  </div>

    {% endblock %}
    